body{
    display: flex;
    flex-wrap: wrap;
}
.divForItem{
    margin: 20px;
    width: 200px;
    word-wrap:break-word;
}
header{
    width: 100%;
    text-align: center;
}
.buttonFotClear{
    display: block;
}