body{
   display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    display: block;

}

.inputRows, .inputBadWord,.sliderWrap {
    margin-top: 50px;
}
.sliderImg{
   height: 300px;
}

.sliderWrap{
    display: flex;
    align-items: center;
    justify-content: center;

}
.sliderLeftArrow,.sliderRightArrow{
    width: 30px;
}